@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #fff;
    --secondary: #010101;
    --hover: #0ef;
    --bg: #130318;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: var(--primary);
    background-color: var(--bg);
    font-size: 1rem;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--primary) !important;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--hover);
}


#menu-icon {
    color: var(--primary);
    font-size: 3.6rem;
    transition: .3s;
    display: none;
    transition: .3s;
    cursor: pointer;
}

#menu-icon:hover {
    color: var(--hover);
}

/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h3 span {
    color: var(--hover);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.7rem;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--hover);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--hover);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;

}

.home-sci a:hover {
    background-color: var(--hover);
    color: var(--primary);
    box-shadow: 0 0 1REM var(--hover);
}

.btn-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.btn-box {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--hover);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--secondary);
    text-decoration: none;
    letter-spacing: 1;
    font-weight: 600;
    transition: .1s;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan
}

.btn-box:hover {
    color: var(--primary);
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 75px cyan, 0 0 100px cyan
}

.home-img img {
    width: 100%;
    max-width: 700px;
    height: auto;

}


/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--primary);
    color: var(--secondary);
}

.about-img img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.about-img h3 {
    font-size: 3rem;
    text-align: center;
}

.about-img h3 span {
    color: var(--hover);
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill i {
    font-size: 3rem;
}

.skill div img {
    width: 3rem;
    height: 3rem;
}

.skill span {
    font-size: 1rem;
    color: var(--secondary);
    letter-spacing: 1px;
}

.skill a span {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: var(--secondary);
    letter-spacing: 1px;
}

.about-content h2 {
    font-size: 4.5rem;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--bg);
}

.about-content h2 span {
    color: var(--hover);
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* PORTFOLIO */
.portfolio {
    background: var(--bg);
}

.portfolio h2,
.contact h2 {
    margin-bottom: 4rem;
    font-size: 4.5rem;
    text-align: center;
}

.portfolio h2 span,
.contact h2 span {
    color: var(--hover);
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--primary);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1)
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--hover));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 4rem;
    transition: .5s ease;
    transform: translateY(100%);
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}


.portfolio-box .portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-box .portfolio-layer a {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--primary);
    border-radius: 50%;
    transition: .3s;

}

.portfolio-box .portfolio-layer a:hover {
    box-shadow: 0 0 5px var(--primary), 0 0 25px var(--primary);
}

.portfolio-box .portfolio-layer a i {
    font-size: 2rem;
    color: var(--secondary);
}


/* CONTACT */

.contact {
    background: var(--primary);
}

.contact h2 {
    color: var(--bg);
}

.contact form {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--secondary);
    background: transparent;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
}

.contact .form-contact .item {
    border: 2px solid var(--hover);
}

.contact .form-contact .item::placeholder {
    color: rgba(0, 0, 0, .5)
}

.contact form .input-box input:focus,
.contact form textarea:focus {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan
}

.contact form textarea {
    resize: none;
}

.contact .btn-box {
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: var(--bg);
}

.footer-text p {
    font-size: 1.3rem;
    color: var(--primary);
}

.footer-text a {
    text-decoration: none;
    color: var(--hover);
}


.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .8rem;
    background: var(--hover);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary);
    transition: .3s ease;
    box-shadow: 0 0 5px var(--hover);
    /* opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i)); */

}

.footer-iconTop a:hover {
    background-color: var(--hover);
    color: var(--primary);
    box-shadow: 0 0 20px var(--hover);
}

.footer-iconTop a i {
    font-size: 2.4rem;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

}

@media (max-width: 991px) {
    /* html {
        font-size: 65%;
    } */

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }


    .footer {
        padding: 2rem 3% 2rem;
    }
}

/* Tablet */
@media (max-width: 768px) {


    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }


    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .portfolio {
        padding-bottom: 7rem;
        min-height: auto;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .contact {
        min-height: auto;
    }

}


/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 50%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
    }

}